@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: poppin;
	src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: philly;
    src: url(../fonts/philly_sans/PhillySans.otf);
}

body{
	background-image: url(../images/bg.jpg);
	font-family: philly;
}

.header{
	display: grid;
	grid-template-columns: 10% 8% 15% 57% 10%;
	grid-column-gap: 1em;
}

.header .logo img{
	width: 123px;
	height: auto;
}

.header .name h1{
	font-size: 25px;
	width: 200px;
	border-bottom: 3px solid #FF5900;
	color: #087F7B;
	padding-bottom: 10px;
	font-family: philly;
	margin-left: 15px;
}

.header .name h3{
	color: #087F7B;
	margin-top: -10px;
	font-size: 15px;
	font-family: philly;
	margin-left: 15px;
}

ul {
 list-style: none;
 font-family: philly;
 
}

ul li {
 float: right;
 width: 100px;
 height: 20px;
 background-color: bisque;
 opacity: .8;
 line-height: 18px;
 text-align: center;
 font-size: 17px;
 font-weight: bold;
}

ul li a {
 transition: 0.3s ease;
 text-decoration: none;
 color: #087F7B;
 display: block;
 border: 2px solid #087F7B;
 
 
}

ul li a:hover {
 color: #FF5900;
}

ul li a.current{
	color: #FF5900;
}

ul li ul li{
 display: none;
 
}

ul li:hover ul li {
 display: block;
}

.content{
	display: grid;
	grid-template-columns: 10% 20% 60% 10%;
	grid-column-gap: 1em;
	height: 450px;
	margin-top: 30px;
}

.content .ownface img{
	width: 250px;
	height: auto;
	border: 3px solid #087F7B;
	border-radius: 5px;
}

.content h1{
	color: #087F7B;
	width: 150px;
	border-bottom: 3px solid #FF5900;
}

.content p{
	color: #087F7B;
    font-family: poppin;
	font-size: 13px;
	font-weight: bold;
}

.content b{
	color: #FF5900;
}

.content .aboutme{
	border: 3px solid #087F7B;
	border-radius: 5px;
	background-color: bisque;
	padding: 20px;
}

.content .aboutme img{
	width: 25px;
	margin-left: 40px;
}

.content .aboutme a{
	color: #FF5900;
	margin-left: 10px;
	font-family: poppin;
	font-size: 13px;
	margin-top: -30px;
	font-weight: bold;
}